@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.google-sans-flex-title {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

.google-sans-flex-text {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

body {
    min-height: 100vh;
    display: flex;
    color: #000;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #000;
    }
}

.master-container {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 760px) {
    .master-container {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

h1 {
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}